[Unit]
Description=LED lamp server
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u server.py
WorkingDirectory=/home/pi/fireled
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target
